---
layout: default
---

<h1>
  {{ page.title }}
</h1>

<style>
    .iframe-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
    }
    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
     }
</style>

<div class="iframe-container">
  <iframe src='{{ site.url }}/{{site.data.settings.translation-proj.name}}/{{site.data.settings.translation-proj.contents_path}}/{{page.file}}'></iframe>
  <!--iframe src='https://tao-sun.github.io/ColdWar/contents/ch1.html'></iframe-->
</div>

<span class="post-date">
  {{ site.data.settings.post_date_prefix }}
  {% assign d = page.date | date: "%-d"  %}
  {{ page.date | date: "%B" }}
  {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st
    {% when '2' or '22' %}{{ d }}nd
    {% when '3' or '23' %}{{ d }}rd
    {% else %}{{ d }}th{% endcase %},
  {{ page.date | date: "%Y" }}
  by
  {% if page.author %}
    {{ page.author }}
  {% else %}
    {{ site.author }}
  {% endif %}
</span>

{% include social-sharing.html %}

{% include related-posts.html %}

{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}
